.title_form {
    text-align: center;
}

.Parag_centered {
    text-align: center;
    display: block;
}

.btn_title {
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    scale: 5;
    margin: 100;
}

.btn_toprow {
    display: inline-block;
    border-radius: 2px;
    border: 0;
    background-color: rgb(196, 201, 193);
    -webkit-text-fill-color: black;
    scale: 2;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    font-size: x-small;
    cursor: pointer;
    margin: 50px;
    box-shadow: 5px 5px 9px rgba(156, 156, 156, 0.5);
    transition: opacity 100ms, box-shadow 0.5s;
    
}

.btn_toprow:hover {
    box-shadow: 3px 3px 7px rgba(87, 87, 87, 0.3);
    opacity: 0.7;
    background-color: rgb(214, 230, 240);
    
}

.btn_toprow:active {
    background-color: grey;
    
}
.toprow_btn_form {
    display: inline-block;
    
}
.toprow {
    vertical-align: top;
    margin-left: 640px;
    margin-right: 635px;
}